:root {
    --color-primario: #275d95;
    --color-secundario: #538fbe;
    --color-texto: #333;
    --color-background: #f4f4f4;
    --color-texto-tenue: #817f80;
    --color-transition1: #53a7be;
    --color-transition2: #174188;
    --color-background-secundario: #e2dfdf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--color-texto);
    background-color: var(--color-background);
    line-height: 1.5;
}

/* HEADER */

header{
    margin-bottom: 40px;
}

.logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 25px;
    background-color: var(--color-primario);
    padding: 10px;
    width: 275px;
    border-radius: 0px 0px 25px 25px;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.logo a img {
    width: 250px;
}

.nav-botones-contacto{
    display: flex;
    position: absolute;
    top: 15px;
    right: 0;
}

.botones-contacto {
    display: flex;
    list-style: none;
    padding: 10px;
    width: 250px;
    justify-content: space-around;
}

.botones-contacto li a {
    color: var(--color-texto-tenue);
    font-size: 20px;
}

.botones-contacto li a:hover {
    cursor: pointer;
    color: var(--color-texto);
}

.contenedor-botones-navegacion{ /*Puesto antes de header para que funciones sticky*/
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-background);
    margin-top: 60px;
}

.nav-botones-navegacion {
    display: flex;
    position: absolute;
    padding: 10px 10px;
    top: 0;
    right: 0;
    background-color: var(--color-background);
    width: 100%;
    justify-content: right;
}

.botones-navegacion {
    list-style: none;
    display: flex;
    width: 690px;
    border: solid var(--color-texto-tenue);
    border-radius: 25px;
    justify-content: space-around;
}

.botones-navegacion li {
    padding: 10px 38px;
}

.botones-navegacion li:hover {
    background-image: linear-gradient(to right,var(--color-transition2),var(--color-transition1));
    color: var(--color-background);
    cursor: pointer;
    border-radius: 25px;
}

.botones-navegacion li a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
}

.botones-navegacion li a:hover {
    color: var(--color-background);
}

/* MAIN */

.inicio{
    display: flex;
    justify-content: center;
    padding: 50px 0 15px 0;
    flex-wrap: wrap;
}

.hammy {
    display: flex;
    margin: 0 20px;
    border-radius: 51px;
    background-image: radial-gradient(at 0%, #1b65a0 65%, var(--color-transition1));
    width: 1100px;
    height: 434px;
    justify-content: center;
}

.img-hammy {
    display: flex;
    height: 434px;
    width: 40%;
    border-radius: 50px 217px 217px 50px;
    background-color: #817f80;
    position: relative;
    right: 55px;
    overflow: hidden;
}

.img-hammy img{
    height: 100%;
    width: 100%;
}

.texto-hammy {
    display: flex;
    padding: 0 5% 0 5%;
    height: 434px;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: var(--color-background-secundario);
    font-weight: bold;
    font-style: italic;
}

.cenhammy {
    display: flex;
    margin: 20px 20px;
    border-radius: 51px;
    background-image: radial-gradient(at 0% 0%, #1b65a0 10%, var(--color-transition1) 90%);
    width: 1100px;
    height: 200px;
    justify-content: center;
}

.cenhammy-texto {
    display: flex;
    padding: 0 5% 0 5%;
    height: 200px;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-background-secundario);
    font-weight: bold;
    font-style: italic;
}

.logo-color {
    display: flex;
    margin: 0px 20px;
    border-radius: 51px;
    background-image: radial-gradient(at 50% 100%, white 60%, var(--color-transition1));
    width: 1100px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.img-cenhammy {
    display: flex;
    height: 200px;
    width: 40%;
    border-radius: 50px;
    position: relative;
    top: 10px;
}

.subtitulo {
    color:var(--color-primario);
    font-weight: bolder;
    text-align: center;
    padding: 30px 0 15px 0;
    width: 100%;
    font-size: 32px;
}

.equipo{
    display: flex;
    margin: 0 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.equipo-tarjetas {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}

.contenedor-especialista {
    display: flex;
    z-index: -1000;
    flex-wrap: wrap;
    justify-content: center;
    
}

.especialista{
    text-decoration: none;
    color: var(--color-texto);
    scroll-snap-align: center;
}

.fig-especialista{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img-especialista {
    width: 300px;
    border-radius: 20px;
}

.titulo-especialista{
    font-size: 16px;
    color: var(--color-secundario);
    padding: 10px 0 0 0;
}

.mensaje-especialista {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    width: 300px;
    height: 100%;
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 100%;
    font-size: 16px;
    color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s;
}

.contenedor-especialista:hover .mensaje-especialista{
    opacity:1;
    cursor: pointer;
}

.servicios {
    list-style: none;
    text-align: center;
    text-decoration:none;
}

h3 {
    color: var(--color-primario);
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.tarjetas {
    display: flex;
    margin: 0 20px 20px 20px;
    justify-content: space-evenly;
    height: 450px;
}

.horario {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-image: radial-gradient(at 0% 0%, var(--color-transition2), var(--color-transition1));
}

.horario h3{
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    top: 8px;
    left: 0px;
    justify-content: center;
    align-items: center;
    color: var(--color-background-secundario);
}

.horas-atencion {
    display: flex;
    width: 100%;
    height: 70%;
    list-style: none;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    color: var(--color-background-secundario);
}

.horas-atencion p  {
    width: 100%;
    text-align: center;
}

.direccion {
    display: flex;
    width: 400px;
    height: 450px;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    border: solid;
    border: var(--color-transition1) 4px solid;
    border-radius: 10px; 
}

.direccion h3 {
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}

.direccion iframe {
    display: flex;
    width: 300px;
    height: 300px;
}

.direccion a {
    display: flex;
    position: relative;
    bottom: 8px;
    padding-top: 15px;
    width: 90%;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.direccion a:hover {
    cursor: pointer;
    color: var(--color-transition1);
}

/* Formulario */

.formulario-contacto {
    width:400px;
    height: 450px;
}

.formulario-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    background-image: radial-gradient(at 100% 0%, var(--color-transition2), var(--color-transition1));
}

.formulario-contacto h3 {
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    top: 5px;
    justify-content: center;
    align-items: center;
    color: var(--color-background-secundario);
}

.form-contenido{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    color: var(--color-background-secundario);
    font-weight: bold;
}

.form-elemento{
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-elemento input {
    display: flex;
    position: relative;
    background-color: var(--color-background-secundario);
    border-style: none;
    border-radius: 5px;
    color: var(--color-texto);
}

.form-contenido fieldset {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid var(--color-background-secundario);
    width: 390px;
    border-radius: 10px;
    font-size: 14px;
}

.form-contenido fieldset legend {
    margin-left: 24px;
}

.opcion-contacto {
    display: flex;
    gap: 8px;
    padding-bottom: 5px;
}

#comentarios{
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
}

.boton {
    background-color: var(--color-background-secundario);
    color: var(--color-primario);
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 5px;
}

.boton:hover {
    background-color:var(--color-primario);
    color: var(--color-background-secundario);
    cursor: pointer;
}

.boton:active {
    background-color: var(--color-secundario);
}

/* FOOTER */

.seccion-enlaces-contacto {
    padding: 20px;
}

.enlaces-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    width: 550px;
    align-items: center;
    justify-content: left;
}

.enlaces-contacto li {
    padding: 10px 0;
}

.enlaces-contacto li a {
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    font-weight: bold;
}

.enlaces-contacto li a:hover{
    cursor: pointer;
    color: var(--color-transition1);
}

.enlaces-contacto li a i{
    padding-right: 10px;
    font-size: 20px;
}

#fb {
    width: 550px;
}

/* Autor */

.autor {
    display: flex;
    justify-content: right;
    padding: 20px;
}

.enlaces-autor {
    list-style: none; 
    display: flex;
    width: 60px;
    justify-content: space-around;
}

.enlaces-autor a{
    color: var(--color-texto);
}

.enlaces-autor a:hover {
    cursor: pointer;
    color: var(--color-texto-tenue);
}