:root {
    --color-primario: #275d95;
    --color-secundario: #538fbe;
    --color-texto: #333;
    --color-background: #f4f4f4;
    --color-texto-tenue: #817f80;
    --color-transition1: #53a7be;
    --color-transition2: #174188;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--color-texto);
    margin: 0%;
    padding: 0%;
    background-color: var(--color-background);
}

/* HEADER */

.logo {
    background-color: var(--color-primario);
    text-align: left;
    margin: 0px;
    padding: 10px;
    margin-left: 30px;
    width: 275px;
    border-radius: 0px 0px 25px 25px;
}

.logo-cenhammy {
    width: 250px;
    text-align: center;
}

.nav-botones-contacto{
    padding: 0;
    margin: 0;
    text-align: right;
}

.botones-contacto {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.botones-contacto li {
    display: inline;
    padding: 0 10px;
}

.botones-contacto li a {
    color: var(--color-texto-tenue);
    font-size: 20px;
}

.botones-contacto li a:hover {
    cursor: pointer;
    color: var(--color-texto);
}

.nav-botones-navegacion {
    display: inline-block;
    margin-left: 620px;
    border: solid var(--color-texto-tenue);
    width: 700px;
    border-radius: 20px;
    text-align: center;
}

.botones-navegacion {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.botones-navegacion li {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 15px;
}

.botones-navegacion li:hover {
    background-image: linear-gradient(to right,var(--color-transition2),var(--color-transition1));
    color: var(--color-background);
    cursor: pointer;
}

.botones-navegacion li a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
}

.botones-navegacion li a:hover {
    color: var(--color-background);
}

.subtitulo {
    color:var(--color-primario);
    font-weight: bolder;
    text-align: center;
    padding: 0;
    margin: 10px 0;
}

.img-hammy {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 500px;
}

.texto-hammy {
    display: inline-block;
    width: 500px;
    margin: 0px 100px;
    text-align: center;
}

.equipo {
    margin: 0;
    padding: 0;
}

.img-especialista {
    display: inline-block;
    width: 200px;
}

.mensaje-especialista {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 300px;
}

.servicios {
    list-style: none;
    text-align: center;
    text-decoration:none;
    margin: 0;
    padding: 0;
}

.horario {
    display: inline-block;
    width: 400px;
}

.ubicacion {
    display: inline-block;
    width: 800px;
}

.formulario-contacto {
    text-align: left;
}

.boton {
    background-color: var(--color-background);
    color: var(--color-primario);
    font-weight: bold;
}

.boton:hover {
    background-color:var(--color-primario);
    color: var(--color-background);
    cursor: pointer;
}

.boton:active {
    background-color: var(--color-secundario);
}

.enlaces-contacto {
    text-align: center;
}

footer {
    text-align: right;
}

h3 {
    color: var(--color-primario);
    font-weight: bold;
    text-align: center;
}