/* Variables */
:root {
/* Tema claro */
    --claro-color-background: beige;
    --claro-color-texto: #333;
    --claro-color-background-secundario: rgb(163, 190, 174); 
    --claro-color-texto-secundario: rgb(49, 65, 55);
    --claro-color-hover: rgb(111, 146, 23);

    /* Tema oscuro */
    --dark-color-background: #3A506B;
    --dark-color-texto: #EAF0F1;
    --dark-color-background-secundario: darkblue; 
    --dark-color-texto-secundario: #96b2b7;
    --dark-color-hover: #8AC4E3;
}

body.tema-claro {
    --color-background:var(--claro-color-background);
    --color-texto:var(--claro-color-texto);
    --color-background-secundario:var(--claro-color-background-secundario);
    --color-texto-secundario:var(--claro-color-texto-secundario);
    --color-hover:var(--claro-color-hover);
}

body.tema-oscuro {
    --color-background:var(--dark-color-background);
    --color-texto:var(--dark-color-texto);
    --color-background-secundario:var(--dark-color-background-secundario);
    --color-texto-secundario:var(--dark-color-texto-secundario);
    --color-hover:var(--dark-color-hover);
}

/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    color:var(--color-texto);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

h1 {
    color: var(--color-texto);
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 20px;
    background-color:var(--color-background-secundario);
}

.nav-link, .boton-tema {
    text-decoration: none;
    color:var(--color-texto-secundario);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--color-hover);
}

/* CARTAS */

.seccion-tarjetas {
    text-align: center;
    padding: 20px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: var(--color-background-secundario);
    color: var(--color-texto-secundario);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--color-hover);
}

.grow {
    /* flex-grow: 0; cuando no indicamos un valor de flex-grow, de inicio es 0 */
    flex-grow: 2; /* Ocupa más espacio proporcionalmente */
}

.card-hover:hover {
    transform: scale(1.1) rotate(-30deg);
}

.card:nth-child(1) {
/* Al primer elemento con este selector se le aplicarán estos estilos */
    align-self: flex-start;
}

.card:nth-child(3) {
    order: 0;
}

/* FORMULARIO */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
}

button {
    background-color: var(--color-background-secundario);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-hover);
}