* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: black;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
}

.nav-links {
    display:flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f5f5f5;
}

.nav-links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hero-contenido {
    margin-top: 10px;
}

.hero-img {
    width: 1000px;
    height: 400px;
    border-radius: 5px;
}

.categorias {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.lista-categorias {
    display: flex;
    justify-content:space-around;
    gap: 20px;
}

.categoria-item {
    text-align: center;
    text-decoration: none;
    color: #333;
}

.categoria-item img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.productos {
    padding: 20px;
    margin: 10px;
}

.lista-carrusel {
    display: flex;
    gap: 20px;
    padding: 10px;
    overflow-x: auto;  /* El contenedor permite un desplazamiento horizontal */
    scroll-snap-type: x mandatory; 
    /* Defino como se comportanlos puntos de desplazamiento de mi contenedor 
    x: indica que el desplazamiento es en el eje x
    mandatory: el scroll se ajustará al siguiente punto de ajuste definido */
    text-align: center;
    color: #333;
    text-decoration: none;
}

.producto-item {
    text-align: center;
    color: #333;
    text-decoration: none;
    scroll-snap-align: center;
    /* Definir como los elementos individuales dentro de un contenedor scroll
    se alinean cuando se ajustan */
}

.producto-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.producto-titulo {
    font-size: 16px;
    font-weight: bold;
}

.producto-precio {
    font-size: 14px;
    color: darkcyan;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
}