/* Variables */
:root {
    --color-primario: cadetblue;
    --color-background: #f4f4f4;
    --color-secundario: darkolivegreen;
    --color-texto: #333;
    --color-prueba: violet;
}

/* Reset básico */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* Etilos generales aplicados en body que se heredan a los hijos */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
    background-color: var(--color-background);
}

header main footer {
    margin: 0;
    padding: 20px;
}

footer {
    text-align: right;
}

/* Según la propiedad de especificidad, es de mayor prioridad el que 
tenga más información del elemento. 
En este caso header=1pt y h1=1pt, aasí que será azul el texto*/
header h1 {
    color:var(--color-primario);
}

h1 {
    color: var(--color-prueba);
}

.author {
    font-weight: bold;
    color: var(--color-primario);
}

.subtitle {
    font-size: 18px;
    color: var(--color-secundario);
}

.lista-tareas {
    list-style: none;
    margin-top: 25px;
    padding: 0;
    padding-left: 10px;
}

.lista-tareas li {
    margin-bottom: 15px;
}

.tarea-checkbox {
    margin-right: 15px;
    accent-color: var(--color-primario);
    cursor: pointer;
}

.tarea-descripcion {
    cursor: pointer;
}

.tarea-checkbox:checked + .tarea-descripcion {
    text-decoration: line-through;
    font-style: italic;
}